{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ league.title }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bulmaswatch.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts-material-symbols-outlined.css' %}" />
    <script type="text/javascript" src="{% static 'navbar-burger.js' %}"></script>
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item has-text-white" href="{% url 'view_league' league.slug %}">
            {{ league.title }}
          </a>
          <a role="button" class="navbar-burger" data-target="navbarMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start">
            {% for stage in league.stage_set.all %}
            {% if forloop.first %}
            <div class="navbar-item has-dropdown is-hoverable">
              <div class="navbar-link">
                Stages
              </div>
              <div class="navbar-dropdown">
                {% endif %}
                <a class="navbar-item" href={% url 'view_stage' league.slug stage.slug %}>
                  {{ stage.name }}
                </a>
            {% if forloop.last %}
              </div>
            </div>
            {% endif %}
            {% endfor %}

            <a class="navbar-item" href="{% url 'view_dashboard' league.slug %}">
              Dashboard
            </a>

            <a class="navbar-item" href="{% url 'view_stats' league.slug %}">
              Stats
            </a>

            {% if can_administrate %}
            <a class="navbar-item" href="{% url 'edit_league' league.slug %}">
              Settings
            </a>
            {% endif %}

            <a class="navbar-item" href="{% url 'info' league.slug %}">
              Info
            </a>

            {% if user_player %}
            <a class="navbar-item" href="{% url 'logout' league.slug %}">
              Logout
            </a>
            {% endif %}

          </div>

        </div>
      </div>
    </nav>

    {% for match in user_ongoing %}
    {% if forloop.first %}
    <section class="hero">
      <div class="container content hero-body has-background-light">
        <h3>Waiting for result</h3>
        <div class="table-container">
          <table class="table">
    {% endif %}
            <tr>
              <td class="is-light">
                <a class="button is-danger" href="{% url 'add_result' league.slug match.uuid %}">
                  Add result
                </a>
              </td>
              {% include "leagues/cells_match_teams.html" with class="is-light" %}
            </tr>
    {% if forloop.last %}
          </table>
        </div>
      </div>
    </section>
    {% endif %}
    {% empty %}
    {% for match in user_next_up %}
    {% if forloop.first %}
    <section class="hero">
      <div class="container content hero-body has-background-light">
        <h3>Next up for you</h3>
        <div class="table-container">
          <table class="table">
    {% endif %}
            <tr>
              <td class="is-light">
                <a class="button is-danger" href="{% url 'start_match' league.slug match.uuid %}">
                  Start
                </a>
              </td>
              {% include "leagues/cells_match_teams.html" with class="is-light" %}
            </tr>
    {% if forloop.last %}
          </table>
        </div>
      </div>
    </section>
    {% endif %}
    {% endfor %}
    {% endfor %}


    <div class="content container" id="content">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>
