{% extends "leagues/base.html" %}

{% block content %}
<h1>Log in as (choose below)</h1>

<h2>Spectator (read-only)</h2>
<a class="button is-large is-success has-text-centered" href="{% url 'logout' league.slug  %}">Spectator</a>

<h2>Player</h2>

<div class="columns is-multiline">
{% for player in league.player_set.all %}
  <div class="column is-4">
  <a class="button is-fullwidth is-large is-primary has-text-centered" href="{% url 'login_player' player.league.slug player.uuid player.key %}">{{ player.name }}</a>
  </div>
{% endfor %}
</div>

{% endblock %}
