{% extends "leagues/base.html" %}

{% block content %}
<h1>Create multiple matches</h1>

<div class="block">
  <form action="{% url 'create_multiple_matches' league.slug %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a class="button is-primary is-light" href="{% url 'view_league' league.slug %}">Cancel</a>
    <input class="button is-primary" type="submit" name="generate" value="Generate">
  </form>
</div>

{% if formset %}

<div class="block">
The following matches would be created. Please confirm below or modify the settings above and re-generate a new set of matches.
</div>

<form action="{% url 'create_multiple_matches' league.slug %}" method="post">
{% csrf_token %}

{# Hide the upper form here so its values can be accessed in the view #}
{% for field in form %}
{{ field.as_hidden }}
{% endfor %}

{{ formset.management_form }}

<div class="table-container">
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Court</th>
        <th>Home team</th>
        <th></th>
        <th>Away team</th>
      </tr>
    </thead>
    <tbody>
      {% for f in formset %}
      <tr>
        <td>
          {{ f.non_field_errors }}
          {{ f.court }}
        </td>
        <td>
          {{ f.league.as_hidden }}
          {{ f.stage.as_hidden }}
          {% if form.autofill_teams.value %}
          {{ f.home_team.as_hidden }}
          {% for p in f.home_team.initial %}
          {{ p.name }} <br />
          {% endfor %}
          {% else %}
          {{ f.home_team.errors }}
          {{ f.home_team }}
          {% endif %}
        </td>
        <td>
          -
        </td>
        <td>
          {% if form.autofill_teams.value %}
          {{ f.away_team.as_hidden }}
          {% for p in f.away_team.initial %}
          {{ p.name }} <br />
          {% endfor %}
          {% else %}
          {{ f.away_team.errors }}
          {{ f.away_team }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="block">
  Choose the stage which the matches will be added to:
</div>

<div class="block">
{{ stage_form }}
</div>

<div class="block">
Do you want to create these matches?
</div>

<div class="block">
<input class="button is-success" type="submit" name="confirm" value="Yes, create" />
</div>

</form>

{% endif %}

{% endblock %}
