{% with show_court=league.court_set.exists %}
<div class="columns">
  <div class="column">
    {% for r in ranking %}
    <h2>Ranking {{ r.0 }}</h2>
    {% include 'leagues/table_ranking.html' with rows=r.1 %}
    {% endfor %}
  </div>
  <div class="column">
    <h2>Next up</h2>
    {% if next_matches %}
    {% include 'leagues/table_matches.html' with matches=next_matches hide_time=True hide_bonus=True hide_info=True show_counter=True result_title=" " %}
    {% else %}
    No upcoming matches
    {% endif %}
    <h2>Ongoing</h2>
    {% if ongoing_matches %}
    {% include 'leagues/table_matches.html' with matches=ongoing_matches hide_bonus=True hide_info=True hide_add_result=True datetime_title="Start time" result_title=" " %}
    {% else %}
    No matches at the moment
    {% endif %}
    <h2>Latest</h2>
    {% if latest_matches %}
    {% include 'leagues/table_matches.html' with matches=latest_matches hide_info=True use_datetime_last_period=True datetime_title="End time" hide_bonus=True show_court=False %}
    {% else %}
    No finished matches yet
    {% endif %}
  </div>
</div>
{% endwith %}
