{% extends "leagues/base.html" %}

{% block content %}
<h1>Delete match?</h1>

Are you sure you want to delete the following match permanently?

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Home team</th>
        <th></th>
        <th>Away team</th>
        <th>Result</th>
        <th>Stage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ match.datetime|date:'Y-m-d H:i' }}
        </td>
        <td>
          {% for player in match.home_team.all %}
          <a href="{% url 'view_player' league.slug player.uuid %}">
            {% if player == selected_player %}
            <b>{{ player.name }}</b>
            {% else %}
            {{ player.name }}
            {% endif %}
          </a><br />
          {% endfor %}
        </td>
        <td>
          -
        </td>
        <td>
          {% for player in match.away_team.all %}
          <a href="{% url 'view_player' league.slug player.uuid %}">
            {% if player == selected_player %}
            <b>{{ player.name }}</b>
            {% else %}
            {{ player.name }}
            {% endif %}
          </a><br />
          {% endfor %}
        </td>
        <td>
          {% for p in match.period_set.all %}
          {{ p.home_points }}-{{ p.away_points }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </td>
        <td>
            {% if match.stage is not None %}
            {{ match.stage }}
            {% else %}
            -
            {% endif %}
      </tr>
    </tbody>
  </table>
</div>

<form action="{% url 'delete_match' match.league.slug match.uuid %}" method="post">
    {% csrf_token %}
    <input class="button is-danger" type="submit" value="Yes, delete">
    <a class="button is-primary" href="{% url 'view_league' match.league.slug %}">
        No, cancel
    </a>
</form>

{% endblock %}
