{% extends "leagues/base.html" %}

{% block content %}
<h1>Edit {{ player.name }}</h1>

<form action="{% url 'edit_player' player.league.slug player.uuid %}" method="post">
  {% csrf_token %}
  <div class="block">
  {{ form.as_p }}
  </div>
  <div class="block">
  <a class="button is-danger" href="{% url 'delete_player' player.league.slug player.uuid %}">
    Delete
  </a>
  <a class="button is-primary is-light" href="{% url 'view_player' player.league.slug player.uuid %}">
    Cancel
  </a>
  <input class="button is-primary" type="submit" value="Save">
  </div>
</form>
{% endblock %}
