{% extends "leagues/base.html" %}

{% block content %}
<h1>Edit stage</h1>

<form action="{% url 'edit_stage' league.slug stage.slug %}" method="post">
    {% csrf_token %}
  <div class="block">
    {{ form.as_p }}
    {{ formset.as_p }}
  </div>
  <div class="block">
  <a class="button is-danger" href="{% url 'delete_stage' league.slug stage.slug %}">
    Delete
  </a>
  <a class="button is-primary is-light" href="{% url 'view_stage' league.slug stage.slug %}">
    Cancel
  </a>
    <input class="button is-primary" type="submit" value="Save">
  </div>
</form>
{% endblock %}
