{% extends "leagues/base.html" %}

{% block content %}
<h1>Settings</h1>

<form action="{% url 'edit_league' league.slug %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="button is-primary" type="submit" value="Save">
</form>

<h2>Links for sharing access</h2>
{% if league.write_protected %}
<div class="block">
  Read-only: <a href="{{ home_url }}">{{ home_url }}</a>
</div>
<div class="block">
  Player: <a href="{{ choose_player_login_url }}">{{ choose_player_login_url }}</a>
</div>
<div class="block">
  Admin: <a href="{{ login_url }}">{{ login_url }}</a>
</div>
{% else %}
  Full access: <a href="{{ home_url }}">{{ home_url }}</a>
{% endif %}

<h2>Stages
  <a class="button is-primary" href="{% url 'create_stage' league.slug %}">Add stage</a>
</h2>

{% for prev, stage, next in stages_triple %}
{% if forloop.first %}
<form action="{% url 'edit_league' league.slug %}" method="post">
  {% csrf_token %}
  <div class="table-container">
    <table class="table is-striped" id="stage-table">
      <thead>
        <tr>
          <th>Stage</th>
          <th>Includes</th>
          <th>Periods</th>
          <th>Bonus</th>
          <th>Period points</th>
          <th>On dashboard</th>
          <th>Move</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
{% endif %}
        <tr>
          <td>
            {{ stage.name }}
          </td>
          <td>
            <ul>
              {% for s in stage.included.all %}
              <li>{{ s.name }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {% if stage.periods != None %}
            {{ stage.periods }}
            {% else %}
            {{ stage.league.periods }} (league default)
            {% endif %}
          </td>
          <td>
            {% if stage.bonus != None %}
            {{ stage.bonus }}
            {% else %}
            {{ stage.league.bonus }} (league default)
            {% endif %}
          </td>
          <td>
            {% if stage.points_to_win != None %}
            {{ stage.points_to_win }}
            {% else %}
            {{ stage.league.points_to_win }} (league default)
            {% endif %}
          </td>
          <td>
            {% if stage.on_dashboard %}
            X
            {% else %}
            -
            {% endif %}
          </td>
          <td>
            <input class="button is-primary" type="submit" name="move stage {{ stage.slug }} top" value="Top" />
            <input class="button is-primary" type="submit" name="move stage {{ stage.slug }} above {{ prev.slug }}" value="Up" />
            <input class="button is-primary" type="submit" name="move stage {{ stage.slug }} below {{ next.slug }}" value="Down" />
            <input class="button is-primary" type="submit" name="move stage {{ stage.slug }} bottom" value="Bottom" />
          </td>
          <td>
            <a href="{% url 'edit_stage' league.slug stage.slug %}">Edit</a>
          </td>
        </tr>
{% if forloop.last %}
      </tbody>
    </table>
  </div>
</form>
{% endif %}
{% endfor %}

<h2>Courts
  <a class="button is-primary" href="{% url 'create_court' league.slug %}">Add court</a>
</h2>

{% for prev, court, next in courts_triple %}
{% if forloop.first %}
<form action="{% url 'edit_league' league.slug %}" method="post">
  {% csrf_token %}
  <div class="table-container">
    <table class="table is-striped" id="court-table">
      <thead>
        <tr>
          <th>Court</th>
          <th>Move</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
{% endif %}
        <tr>
          <td>
            {{ court.name }}
          </td>
          <td>
            <input class="button is-primary" type="submit" name="move court {{ court.pk }} top" value="Top" />
            <input class="button is-primary" type="submit" name="move court {{ court.pk }} above {{ prev.pk }}" value="Up" />
            <input class="button is-primary" type="submit" name="move court {{ court.pk }} below {{ next.pk }}" value="Down" />
            <input class="button is-primary" type="submit" name="move court {{ court.pk }} bottom" value="Bottom" />
          </td>
          <td>
            <a href="{% url 'edit_court' league.slug court.pk %}">Edit</a>
          </td>
        </tr>
{% if forloop.last %}
      </tbody>
    </table>
  </div>
</form>
{% endif %}
{% endfor %}

<h2>Danger zone</h2>

<a class="button is-primary" href="{% url 'export_league' league.slug %}">
  Export league
</a>

<a class="button is-danger" href="{% url 'delete_all_unplayed_matches' league.slug %}">
  Delete all unplayed matches
</a>

{% endblock %}
