{% extends "leagues/base.html" %}

{% block content %}
<h1>
    {% if match.pk is None %}
    Add match
    {% else %}
    Edit match
    {% endif %}
</h1>

{% if match.pk is None %}
<form action="{% url 'create_match' match.league.slug %}" method="post">
{% else %}
<form action="{% url 'edit_match' match.league.slug match.uuid %}" method="post">
{% endif %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.stage.errors }}
        {{ form.stage.label }} {{ form.stage }}
    </div>
    <div class="fieldWrapper">
        {{ form.datetime_started.errors }}
        {{ form.datetime_started.label }} {{ form.datetime_started }}
    </div>
    {{ formset.management_form }}
    <div class="table-container">
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Home
                    </th>
                    <th>
                        -
                    </th>
                    <th>
                        Away
                    </th>
                    {% if match.pk is not None %}
                    <th>
                        Delete?
                    </th>
                    {% endif %}
                </tr>
                <tr>
                    <th>
                    </th>
                    <th>
                        {{ form.home_team.errors }} {{ form.home_team }}
                    </th>
                    <th>
                    </th>
                    <th>
                        {{ form.away_team.errors }} {{ form.away_team }}
                    </th>
                    {% if match.pk is not None %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if match.pk is not None %}
                {% include "leagues/formset_periods.html" with can_delete=True %}
                {% else %}
                {% include "leagues/formset_periods.html" with can_delete=False %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {% if match.pk is not None %}
    <a class="button is-danger" href="{% url 'delete_match' match.league.slug match.uuid %}">
        Delete
    </a>
    {% endif %}
    <a class="button is-primary is-light" href="{% url 'view_league' match.league.slug %}">
        Cancel
    </a>
    <input class="button is-primary" type="submit" value="Save">
</form>
{% endblock %}
