{% extends "leagues/base.html" %}

{% block content %}
<h1>Edit {{ league.title }}</h1>

<form action="{% url 'edit_league' league.slug %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="button is-primary" type="submit" value="Save">
</form>

{% if league.write_protected %}
<div class="block">
  Link for sharing read-only access: <a href="{{ home_url }}">{{ home_url }}</a>
</div>
<div class="block">
  Link for sharing write access: <a href="{{ login_url }}">{{ login_url }}</a>
</div>
{% else %}
  Link for sharing: <a href="{{ home_url }}">{{ home_url }}</a>
{% endif %}

<h2>Stages
  <a class="button is-primary" href="{% url 'create_stage' league.slug %}">Add stage</a>
</h2>

<form action="{% url 'edit_league' league.slug %}" method="post">
  {% csrf_token %}
  <div class="table-container">
    <table class="table is-striped" id="stage-table">
      <thead>
        <tr>
          <th>Stage</th>
          <th>Includes</th>
          <th>Bonus</th>
          <th>Period points</th>
          <th>Move</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for prev, stage, next in stages_triple %}
        <tr>
          <td>
            {{ stage.name }}
          </td>
          <td>
            <ul>
              {% for s in stage.included.all %}
              <li>{{ s.name }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {% if stage.bonus != None %}
            {{ stage.bonus }}
            {% else %}
            {{ stage.league.bonus }} (league default)
            {% endif %}
          </td>
          <td>
            {% if stage.points_to_win != None %}
            {{ stage.points_to_win }}
            {% else %}
            {{ stage.league.points_to_win }} (league default)
            {% endif %}
          </td>
          <td>
            <input class="button is-primary" type="submit" name="move {{ stage.slug }} top" value="Top" />
            <input class="button is-primary" type="submit" name="move {{ stage.slug }} above {{ prev.slug }}" value="Up" />
            <input class="button is-primary" type="submit" name="move {{ stage.slug }} below {{ next.slug }}" value="Down" />
            <input class="button is-primary" type="submit" name="move {{ stage.slug }} bottom" value="Bottom" />
          </td>
          <td>
            <a href="{% url 'edit_stage' league.slug stage.slug %}">Edit</a>
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</form>

{% endblock %}
