<tr>
  <td class="has-text-right {{ classes }}">
    {{ label }}
  </td>
  <td class="has-text-centered {% include "leagues/coloring.html" with x=xy.0 y=xy.1 %} {{ classes }}">
    {{ xy.0|floatformat:floatformat }}{{ suffix }}{% include "leagues/stars.html" with stars=stars.0 sad=stars.1 notify=0 %}
  </td>
  <td class="has-text-centered {% include "leagues/coloring.html" with x=xy.1 y=xy.0 %} {{ classes }}">
    {{ xy.1|floatformat:floatformat }}{{ suffix }}{% include "leagues/stars.html" with stars=stars.2 sad=stars.3 notify=0 %}
  </td>
</tr>
