<table class="table is-striped">
  <thead>
    <tr>
      <th class="has-text-right">#</th>
      <th>Player</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="has-text-right">{{ forloop.counter }}.</td>
      <td><a href="{% url 'view_player' league.slug row.player.uuid %}">{{ row.player.name }}</a></td>
      <td>{% if row.score is None %}-{% else %}{{ row.score|floatformat:0 }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
