<div class="table-container">
  <table class="table is-striped">
    <thead>
      <tr>
        {% if show_counter %}<th></th>{% endif %}
        {% if not hide_time %}<th>Time</th>{% endif %}
        <th>Home team</th>
        <th></th>
        <th>Away team</th>
        {% if not hide_result %}
        <th>Result</th>
        <th>Bonus</th>
        {% endif %}
        {% if not hide_info %}<th></th>{% endif %}
      </tr>
    </thead>
    <tbody>

      {% for match in matches %}
      <tr>
        {% if show_counter %}
        <td>
          {{ forloop.revcounter }}.
        </td>
        {% endif %}
        {% if not hide_time %}
        <td>
          {% if match.period_count == 0 %}
          {{ match.datetime_started|date:'Y-m-d H:i' }}
          {% else %}
          {{ match.datetime_first_period|date:'Y-m-d H:i' }}
          {% endif %}
        </td>
        {% endif %}
        <td>
          {% for player in match.home_team.all %}
          <a href="{% url 'view_player' league.slug player.uuid %}">
            {% if player == selected_player %}
            <b>{{ player.name }}</b>
            {% else %}
            {{ player.name }}
            {% endif %}
          </a><br />
          {% endfor %}
        </td>
        <td>
          -
        </td>
        <td>
          {% for player in match.away_team.all %}
          <a href="{% url 'view_player' league.slug player.uuid %}">
            {% if player == selected_player %}
            <b>{{ player.name }}</b>
            {% else %}
            {{ player.name }}
            {% endif %}
          </a><br />
          {% endfor %}
        </td>
        {% if not hide_result %}
        <td>
          {% if match.period_count > 0 %}
          {% if match.period_count == 1 %}
          <b>{{ match.total_home_points }} - {{ match.total_away_points }}</b>
          {% else %}
          <b>{{ match.home_periods }} - {{ match.away_periods }}</b>
          ({% for p in match.period_set.all %}{{ p.home_points }}-{{ p.away_points }}{% if not forloop.last %}, {% endif %}{% endfor %})
          {% endif %}
          {% elif match.datetime_started is None %}
          <a class="button is-primary" href="{% url 'start_match' league.slug match.uuid %}">
            Start
          </a>
          {% else %}
          rESulT
          {% endif %}

        </td>
        <td>
          {% if match.period_count > 0 %}
          {% if match.bonus != 0 %}
          {{ match.home_bonus }} - {{ match.away_bonus }}
          {% else %}
          -
          {% endif %}
          {% endif %}
        </td>
        {% endif %}
        {% if not hide_info %}
        <td class="has-text-right">
          <a href="{% url 'view_match' league.slug match.uuid %}">
            {% if match.has_result %}
            {% with p=match.performance %}
            {% if match.is_home %}
            {% include "leagues/stars.html" with notify=0 stars=p.1.0 sad=p.1.1 %}
            {% elif match.is_away %}
            {% include "leagues/stars.html" with notify=0 stars=p.1.2 sad=p.1.3 %}
            {% else %}
            {% include "leagues/stars.html" with notify=p.1.0 stars=0 sad=0 %}
            {% include "leagues/stars.html" with notify=p.1.1 stars=0 sad=0 %}
            &nbsp;
            &nbsp;
            &nbsp;
            {% endif %}
            {% endwith %}
            {% endif %}
            <span class="icon material-symbols-outlined">
            query_stats
            </span>
          </a>
          &nbsp;
          {% if not league.write_protected or league.slug in logins %}
          <a href="{% url 'edit_match' league.slug match.uuid %}">
            <span class="icon material-symbols-outlined">
              edit
            </span>
          </a>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
