{% regroup matches by stage as stage_groups %}
{% with show_court=league.court_set.exists %}
{% for stage in stage_groups %}
{% if stage.grouper.name != None %}
<h3><a href="{% url 'view_stage' stage.grouper.league.slug stage.grouper.slug %}">{{ stage.grouper }}</a></h3>
{% endif %}
{% if stage.grouper.bonus != None %}
{% if stage.grouper.bonus != 0 %}
Bonus points: {{ stage.grouper.bonus }}
{% else %}
{% endif %}
{% else %}
{% if league.bonus != 0 %}
Bonus points: {{ league.bonus }} (league default)
{% else %}
{% endif %}
{% endif %}
{% include 'leagues/table_matches.html' with matches=stage.list show_court=show_court %}
{% endfor %}
{% endwith %}
