<a href="{% url 'index' %}">BayesLeague</a> / <a href="{% url 'view_league' league.slug %}">{{ league.title }}</a>

<h1>Ranking</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for score in ranking.rankingscore_set.all %}
    <tr>
      <td><a href="{% url 'view_player' league.slug score.player.uuid %}">{{ score.player.name }}</a></td>
      <td>{{ score.score|floatformat:0 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><b>A brief explanation of the ranking scores:</b></p>

<p>The score of a team is calculated by summing the scores of the individual players in the team.</p>

<p> The scores are in logarithmic scale: A score difference of 10 means 2:1 ratio in the probabilities of winning points in a match. To give a few examples, score differences map to ratios of point winning probabilities as follows:
  <ul>
    <li>1 &#x21dd; 15:14</li>
    <li>2 &#x21dd; 8:7</li>
    <li>3 &#x21dd; 5:4</li>
    <li>4 &#x21dd; 4:3</li>
    <li>6 &#x21dd; 3:2</li>
    <li>10 &#x2192; 2:1</li>
    <li>16 &#x21dd; 3:1</li>
    <li>20 &#x2192; 4:1</li>
    <li>26 &#x21dd; 6:1</li>
    <li>30 &#x2192; 8:1</li>
    <li>x &#x2192; 2^(x/10)</li>
  </ul>
</p>
