{% extends "leagues/base.html" %}

{% block content %}

<h1>Match details
  {% if not league.write_protected or league.slug in logins %}
  <a class="button is-primary" href="{% url 'edit_match' league.slug match.uuid %}">Edit</a>
  {% endif %}
</h1>

{{ match.datetime_started|date:'l G:i, F j, Y' }}

<div class="table-container">
  <table class="table is-striped">
    <thead>
      <tr>
        <th/>
        <th class="has-text-centered">
          Home
        </th>
        <th class="has-text-centered">
          Away
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="has-text-right is-size-5 has-text-weight-bold">
          Players
        </td>
        <td class="has-text-centered is-size-5 has-text-weight-bold">
          {% include "leagues/player_list.html" with players=match.home_team.all selected_player=selected_player %}
        </td>
        <td class="has-text-centered is-size-5 has-text-weight-bold">
          {% include "leagues/player_list.html" with players=match.away_team.all selected_player=selected_player %}
        </td>
      </tr>
      {% if match.period_count > 0 %}
      {% if match.period_count > 1 %}
      {% include "leagues/match_stat_row.html" with label="Periods" xy=match.periods floatformat=0 classes="is-size-5 has-text-weight-bold" %}
      {% for p in match.period_set.all %}
      {% with n=forloop.counter|stringformat:"s" %}
      {% include "leagues/match_stat_row.html" with label="Period "|add:n xy=p.points floatformat=0 %}
      {% endwith %}
      {% endfor %}
      {% include "leagues/match_stat_row.html" with label="Total points" xy=match.total_points floatformat=0 %}
      {% else %}
      {% include "leagues/match_stat_row.html" with label="Total points" xy=match.total_points floatformat=0 classes="is-size-5 has-text-weight-bold" %}
      {% endif %}
      {% if match.bonus != 0 %}
      {% include "leagues/match_stat_row.html" with label="Bonus points" xy=match.bonus_points floatformat=0 %}
      {% endif %}
      {% endif %}
      {% include "leagues/match_stat_row.html" with label="Ranking score" xy=match.ranking_scores floatformat=1 %}
      {% include "leagues/match_stat_row.html" with label="Expected points" xy=match.expected_points floatformat=0 %}
      {% include "leagues/match_stat_row.html" with label="Point win probability" xy=match.expected_point_win_percentages floatformat=1 suffix="&nbsp;%" %}
      {% with sp=match.points_to_win_actual|stringformat:"s" %}
      {% include "leagues/match_stat_row.html" with label="Period ("|add:sp|add:" p) win probability" xy=match.period_win_probabilities floatformat=1 suffix="&nbsp;%" %}
      {% endwith %}
      {% if match.has_result %}
      {% with p=match.performance %}
      {% include "leagues/match_stat_row.html" with label="Performance" xy=p.0 floatformat=1 suffix="&nbsp;%&nbsp;" stars=p.1 %}
      {% endwith %}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
