{% extends "leagues/base.html" %}

{% block content %}

<h1>{{ league.title }}</h1>

<h2>Ranking</h2>

{% include 'leagues/table_ranking.html' with rows=ranking %}

<h2>Latest matches</h2>

<div class="block">
<a class="button is-primary" href="{% url 'create_stage' league.slug %}">Add stage</a>
</div>

<div class="block">
<a class="button is-primary" href="{% url 'create_match' league.slug %}">Add match</a>
</div>

{% include 'leagues/table_matches.html' with matches=latest_matches %}

{% endblock %}
